@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:ital,wght@0,700;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
}

@media (min-width:300px){


    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 3%;
    }

    section{
        padding-top: 5%;
        padding-bottom: 5%;

    }

    section > h2{
        text-transform: uppercase;
        width: 90%;
        color: steelblue;
        font-size: 36px;
        border-bottom: 3px solid steelblue;
    }
    .about > P {
        padding: 3%;
    }
    .work-experience{
        flex-direction: column;
        row-gap: 5px;
    }

    .work-experience h3 {
        font-weight: 600;
        color: darkslategrey;
    }

    .work-experience > article{
        padding: 2%;
        border: 2px solid lightgray;
        border-radius: 10px;
    }

    
    .education{
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
        /* row-gap是製造東西間隔的方式 */

    }

    .education aside{
        width: 40vh;
        height: 25vh;
    }
    #tamwood-card > aside{
        background: url("/img/tamwood.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    #chula-card > aside{
        background: url("/img/chula.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    #seoul-card > aside{
        background: url("/img/soul.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    #unam-card > aside{
        background: url("/img/unam.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .card {
        align-items: center;
    }

    .skills div{
        display: flex;
    }

    .skills aside{
        width: 600px;
        height: 190px;
    }

    #html > aside{
        background: url(/img/html.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    #css > aside{
        background: url(/img/css.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    #javascript > aside{
        background: url(/img/javascript.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    #projectone p{
        line-height: 2;
    }

    #projectone > div > aside{
        color: white;
        margin-right: 3%;
        margin-bottom: 0.5%;
        float: left;
        width: 15vh;
        height: 15vh;
        font-weight: 600;
        background-color: gray;

        display: flex;
        text-align: center;

    }

    #projecttwo p{
        line-height: 2;
    }

    #projecttwo > div > aside{
        color: white;
        margin-right: 3%;
        margin-bottom: 0.5%;
        float: left;
        width: 15vh;
        height: 15vh;
        font-weight: 600;
        background-color: gray;

        display: flex;
        text-align: center;

    }

    #projectthree p{
        line-height: 2;
    }

    #projectthree > div > aside{
        color: white;
        margin-right: 3%;
        margin-bottom: 0.5%;
        float: left;
        width: 15vh;
        height: 15vh;
        font-weight: 600;
        background-color: gray;

        display: flex;
        text-align: center;

    }


    .contact [type="text"], [type="email"], textarea{  
        width: 90%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 3%;

    }
    
    .contact [class="d-flex"]{
        /* 兩個按鈕都有class（的attribute)="d-flex(的value)" */
        justify-content: space-evenly;
    }

    .btn{
        color: white;
        background-color: darkblue;
        font-weight: 600;
    }

    .btn :hover{
        background-color: steelblue;
    }

    .footer{
        background-color: darkblue;
        color:white;
        padding: 5%;
        text-align: center;
       
    }
    .footer > span {
        font-weight: bold;
    }
}

@media (min-width: 700px){

    .about > p{
        line-height: 1.5px;
        font-size: 24px;
        padding-bottom: 0%;
    }

    #javascript > p{
        display: flex;
        align-items: center;

    }

    .skills p{
        font-size: 24px;
    }


    .education{
        justify-content: space-evenly;
        /* 讓四張卡分開. column-gap: ; 也可以 */
        flex-direction: row;
        flex-wrap: wrap;
    }
    .education aside{
        padding: 0%;
        width: 100%;
    }
    .education > .card {
        width: 40%;
    }


    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact > form{
        width: 80%;
    }
    .contact > form > div{
       padding: 1%;
    }
    .contact label{
        width: 30%;
    }
    .contact [type="text"], [type="email"]{
        padding: 1%;
        width: 60%;
    }


}

/* 1- plan teh sections from your page
1. footer
2. contact
3. education
4. skills
5. project
6. about
7. header
 */